/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-slate-200 dark:bg-slate-900 dark:text-slate-50;
}

.card{
    @apply bg-slate-400 dark:bg-slate-700 rounded-md p-4;
}